body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
}

a {
  color: #00B7FF;
}

.card-icon{
   width:100%;
   text-align:center;
   padding:30px;
}
.card-icon i{
  font-size:100px;
}

.li-blue li span{
  color:#00B7FF;
  cursor:pointer;
}

li {
display: list-item;
margin-left: 1em;
margin-top:15px;
}
