<div class="">
  <h1 class="left valign">Node Hack</h1>
  <button class="btn right valign">Add new outpost</button>
</div>
<div class="row">
    <table id="table" class="display">
    <thead>
        <tr>
            <th>Outpost</th>
            <th>Food</th>
            <th>Water</th>
            <th>Tarpaulin</th>
        </tr>
    </thead>
    <tbody>
        {{#each outpostlist}}
          <tr>
            <td>{{name}}</td>
            <td>{{supplies.food}}</td>
            <td>{{supplies.water}}</td>
            <td>{{supplies.tarpaulin}}</td>
          </tr>
        {{/each}}
    </tbody>
</table>

</div>
<script>
$(document).ready( function () {
  $('#table').DataTable();
} );
</script>
