<h1>Node Hack</h1>
<br>
<br>
<div class="row">
   <div id="map"></div>
</div>

<script src="/js/map.js"></script>
<script>
  $.getJSON('/api/earthquakes', function(json){
    console.log(json);
    var coordinates = json.features[0].geometry.coordinates;
    initMap(coordinates[0], coordinates[1]);
  });
</script>
