<h1>Node Hack</h1>
<br>
<br>
<div class="row">
    <form id="adduser" name="adduser" method="post" action="/adduser">
      <input id="inputname" type="text" name="username" placeholder="username"></input>
      <input id="inputemail" type="text" name="email" placeholder="email"></input>
      <button class="btn btn-submit" id="submit" type="submit">submit</button>
    </form>
</div>
