<div style="padding:10px;margin-bottom:20px;">
  <a href="/newoutpost" class="btn right valign">Add new outpost</a>
  <a href="/overview" class="btn right valign">Back to overview</a>

  Add outpost to map:
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
        <div class="onoffswitch-label" onclick="toggle()" for="onoffswitch"></div>
    </div>

</div>
<div class="row">
   <div id="map"></div>
</div>

<script src="/js/outpostmap.js"></script>
<script>
  var json = JSON.parse({{{outpostlist}}});
  console.log(json);
  $( document ).ready(function() {
    initMap(json);
  });
</script>
