<h1>OpenShift Developer Onboarding</h1>
<br>
<br>

<div class="row">

    <div class="card col s3">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="activator card-icon">
         <i class="material-icons">done</i>
       </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Prerequisites<i class="material-icons right">more_vert</i></span>
        <p>Do this first.</p>
      </div>
      <div class="card-reveal valign-wrapper">
        <span class="card-title grey-text text-darken-4">Prerequisites<i class="material-icons right">close</i></span>
        <div class="valign" style="font-size:1.2em; margin-top:30px;">
          <ol class="li-blue">
            <li onclick="alert_lillyfit()"><span>LillyFit Assessment</span></li>
            <li onclick="alert_groups()"><span>Security Groups</span></li>
            <li onclick="alert_github()"><span>GitHub Repository</span></li>
            <li onclick="alert_nexus()"><span>Nexus Account</span></li>
            <li onclick=""><span>Add CI to ServiceNow</span></li>
          </ol>
        </div>
      </div>
    </div>

    <div class="card col s3 offset-s1">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="activator card-icon">
         <i class="material-icons">assignment</i>
       </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Questionnaire<i class="material-icons right">more_vert</i></span>
        <p>Give us some details about your app.</p>
      </div>
      <div class="card-reveal valign-wrapper">
        <span class="card-title grey-text text-darken-4">Questionnaire<i class="material-icons right">close</i></span>
        <a class="waves-effect waves-light btn valign" style="margin-top:50px; margin-left:-15px">Launch Questionnaire</a>
      </div>
    </div>

    <div class="card col s3 offset-s1">
      <div class="card-image waves-effect waves-block waves-light">
        <div class="activator card-icon">
         <i class="material-icons">play_arrow</i>
       </div>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Get Started<i class="material-icons right">more_vert</i></span>
        <p>Create your app!</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Get started<i class="material-icons right">close</i></span>
        <div class="valign" style="font-size:1.2em; margin-top:30px;">
          <ol style="list-style:disc outside none">
            <li><a target="_blank" href="https://github.com/mattdean1/shift-guides/wiki">Developer Guides</a></li>
            <li><a target="_blank" href="https://github.com/EliLillyCo/GIS_OSE_DEV/tree/master/demos">Demo Repository</a></li>
            <li><a target="_blank" href="https://docs.openshift.com/enterprise/3.1/cli_reference/index.html">Command Reference</a></li>
          </ol>
        </div>
      </div>
    </div>

</div>
