<h1>Node Hack</h1>
<br>
<br>
<div class="row">
    <ul>
      {{#each userlist}}
        <li>
          {{username}}
          <br>
          {{email}}
        </li>
        <br>
      {{/each}}
    </ul>
</div>
